
.buttonSME {
    border-radius:25px;
    outline: none;
  }
  hr{
    padding: 0px;
    margin: 0px;    
  }
  .fa{
      color: rgb(178, 61, 182);;
  }
  .col-2{
      padding-top: 4%;
  }

.main{
  font-size: 14px;
}
.verifyButton{
  background-color: #b9b7bd;
  color:rgb(71, 70, 70);
}
::ng-deep mat-form-field.mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-bottom: 0px;
}
