.main-container {
    width: 100vw;
    height: 100vh;
    //border: 1px solid rgba(0, 0, 0, 0.5);
  }
::ng-deep .mat-drawer-inner-container{
    background-color: white !important;
}
  
  .sidenav-content {
    height: 100%;
    // align-items: center;
    // justify-content: center;
  }
  
  .sidenavv {
    padding: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    background-color: white;
   }

  .displayIcon{
    font-size: 1.1rem;
    color: #533bb4;
    vertical-align: text-top;
    background-color: white;
    outline: none;
  } 
  
  .menuIcon{
    font-size: 2rem;
    float: left;
  }

  .backIcon{
    font-size: 1.5rem;
    margin-top: 4px;
    float: left;
  }

  .headerPane{
    background-color: #4d1daf;
    color: white;
    text-align: center;
    font-weight: bold;
    .appTitle{
        font-size: 1.5rem;
    }
  }

  .navList{
      cursor: pointer;
  }
  p{
      background-color: white;
  }

  ::ng-deep .mat-drawer-container {
      background-color: unset;
  }

  