
@import '../app.component.scss';
.user-validate-class {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    margin-top: 1rem;
}
.w-90 {
    width: 90%;
}
.mat-error{
    font-size: 12px;
}
.width {
    width: 6rem;
}


::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: #e6e0f7 !important;
  }